services:
     database:
          image: mongo:latest
          container_name: database
          ports:
               - "27017:27017"
          restart: always

     mosquitto:
          image: eclipse-mosquitto:latest
          container_name: mosquitto
          ports:
               - "1883:1883"
               - "9001:9001"
          volumes:
               - ./mosquitto/config:/mosquitto/config
               - ./mosquitto/data:/mosquitto/data
               - ./mosquitto/log:/mosquitto/log
          restart: always

     nodered:
          image: nodered/node-red:latest
          container_name: nodered
          ports:
               - "1880:1880"
          volumes:
               - ./VehicleLocation/node-red-data:/data
          depends_on:
               - mosquitto
          restart: always

     auth:
          build:
               context: ./AuthService/
               dockerfile: dockerfile
          ports:
               - "5001:5001"
          environment:
               - PORT=5001
               - DBHOST=mongodb://database:27017/
               - DBNAME=Auth
               - JWT_SECRET=jwtsecret
          depends_on:
               - database
          restart: "no"

     vehiclelocation:
          build:
               context: ./VehicleLocation/
               dockerfile: dockerfile
          ports:
               - "3000:3000"
          environment:
               PORT: 3000
               DBHOST: mongodb://database:27017/
               DBNAME: VehicleLocation
               MQTT_BROKER: mosquitto
               MQTT_PORT: 1883
               MQTT_TOPIC: VehicleLocation
          depends_on:
               - database
               - mosquitto
          restart: "no"

     vehicle:
          build:
               context: ./VehicleService/
               dockerfile: dockerfile
          ports:
               - "5003:5003"
          environment:
               - PORT=5003
               - DBHOST=mongodb://database:27017/
               - DBNAME=Vehicle
          depends_on:
               - database
          restart: "no"

     rent:
          build:
               context: ./RentService/
               dockerfile: dockerfile
          ports:
               - "5002:5002"
          environment:
               - PORT=5002
               - DBHOST=mongodb://database:27017/
               - DBNAME=Rent
               - JWT_SECRET=jwtsecret
          depends_on:
               - database
          restart: "no"
